[submodule "third_party/libcxx"]
	path = third_party/libcxx
	url = https://github.com/topjohnwu/libcxx.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/lsplt"]
	path = third_party/lsplt
	url = https://github.com/LSPosed/LSPlt.git
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "third_party/shadowhook"]
	path = third_party/shadowhook
	url = https://github.com/bytedance/android-inline-hook.git
[submodule "third_party/rapidyaml"]
	path = third_party/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
